@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-family: "Montserrat", "Century Gothic", "sans-serif";
  background-color: #faffff;
}

.call-to-action-btn {
  background-color: #f67600;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 9999px;
}

.primary-bg {
  background-color: #faffff;
}

.secondary-bg {
  background-color: #282832;
}

.primary-text {
  color: #282832;
}

.secondary-text {
  color: #faffff;
}
